import React, { FC } from "react";

import { {{pascalCase mode}}{{pascalCase name}}Props } from "./types";


export const {{pascalCase mode}}{{pascalCase name}}:FC<{{pascalCase mode}}{{pascalCase name}}Props> = () => {
  return <div>{{pascalCase mode}}{{pascalCase name}}</div>;
};