import React, { FC } from "react";

import { {{pascalCase mode}}{{pascalCase name}}{{pascalCase instanceName}}Props } from "./types";


export const {{pascalCase mode}}{{pascalCase name}}{{pascalCase instanceName}}:FC<{{pascalCase mode}}{{pascalCase name}}{{pascalCase instanceName}}Props> = () => {
  return <div>{{pascalCase mode}}{{pascalCase name}}{{pascalCase instanceName}}</div>;
};